<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
    <div id="app">
       <ul>
            <li v-for="n in 10">
                Numero {{ 11-n }} y {{n++}}
            </li>
       </ul>

       <h1>{{ salida }}</h1>
       <ul>
            <li v-for="item in items" v-on:click="mostrarValor">
                <button> {{ item }}</button>
            </li>
       </ul>
    </div>
</body>

</html>

<script type="text/javascript">
new Vue({
    el: "#app",
    data:{
       items: ["Naruto", "DBZ", "Bleach", "Digimon", "Ben 10"],
       salida: ""
    },
    methods:{
        mostrarValor:function(event){
            if(event){
                this.salida=event.target.innerText;
            }
        }
    }
    
})
</script>